<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string><![CDATA[https://down.guluts.com/o_1gdsk57j21mda1vl212hdrc91f14a.ipa?attname=Bika+CG.ipa&sign=578ebb643b1cec281c3bcf5b192a6538&t=633183be]]></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<integer>0</integer>
					<key>url</key>
					<string><![CDATA[https://app.soiox.cn/data/image/app/2022/09/26/2d9d1cd4226ed55e68b12dc353b4ba29.png?v=1664188774]]></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string><![CDATA[https://app.soiox.cn/data/image/app/2022/09/26/2d9d1cd4226ed55e68b12dc353b4ba29.png?v=1664188774]]></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.liuyiting.cn</string>
				<key>bundle-version</key>
				<string><![CDATA[1.0]]></string>
				<key>kind</key>
				<string>software</string>				
				<key>title</key>
				<string><![CDATA[Bika CG]]></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
